<%# app/views/comments/update.turbo_stream.erb %>
  <%= turbo_stream.replace "comment-#{@comment.id}" do %>
    <div id="comment-<%= @comment.id %>">
      <p class="comment-text font-normal text-base">
        <%= @comment.content %>
      </p>
    </div>
    <% end %>